{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
<div class="coml-10">
    <h3 class="text-white my-5">About Page</h3>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Esse, modi minus? Nostrum minus neque, magnam adipisci maxime officiis cumque labore! Amet animi qui soluta provident. Necessitatibus dolor recusandae esse odio.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit ut sint incidunt sequi ullam quisquam atque iste, aut beatae expedita quos asperiores! Vero optio porro dignissimos voluptate illum adipisci numquam!</p>
</div>
{% endblock content %}